In [14]:
import json
import glob
from collections import Counter
import pandas as pd
import ast

In [5]:
files = glob.glob(f"../data/data_saha_original/*/*/*.json")
print (len(files))

2460

In [8]:
df = pd.read_csv("../data/lastnames_manual.csv")
df

,LastName,Variants,Unnamed: 2
0,SANDI,"['ADV SANDI', 'MR SANDI', 'MRS SANDI', 'MS SAN...",NaN
1,MTHEMBU,"['MR MTHEMBU', 'ADV MTHEMBU', 'PETROS VUSUMUZI...",NaN
2,DOLO,"['PHILA MARTIN DOLO', 'MR DOLO', 'PILA MARTIN ...",PHILA MARTIN DOLO
3,GQOMFA,"['LUYANDA GQOMFA', 'HUMPHREY LUYANDA GQOMFA', ...",HUMPHREY LUYANDA GQOMFA
4,TSEMANE,"['MR D TSEMANE', 'MR L TSEMANE', 'MR TSEMANE',...",NaN
...,...,...,...
422,MUFAMADI,"['MINISTER MUFAMADI', 'MR MUFAMADI', 'SIDNEY M...",SIDNEY MUFAMADI
423,CHILI,"['MD D CHILI', 'MR D CHILI', 'MR S CHILI', 'MR...",NaN
424,MADIKIZELAMANDELA,"['MRS MADIKIZELAMANDELA', 'MS MADIKIZELAMANDEL...",WINNIE MADIKIZELA-MANDELA
425,FRIDIE,"['MRS FRIDIE', 'MS FRIDIE', 'SHARIFA FRIDIE']",SHARIFA FRIDIE
426,RYKLIEF,"['ISMAIL RYKLIEF', 'MR I RYKLIEF', 'MR RYKLIEF...",NaN

In [9]:
df = df[df["Unnamed: 2"].notna()]
df

,LastName,Variants,Unnamed: 2
2,DOLO,"['PHILA MARTIN DOLO', 'MR DOLO', 'PILA MARTIN ...",PHILA MARTIN DOLO
3,GQOMFA,"['LUYANDA GQOMFA', 'HUMPHREY LUYANDA GQOMFA', ...",HUMPHREY LUYANDA GQOMFA
6,KHAMPEPE,"['MS KHAMPEPE', 'JUDGE KHAMPEPE', 'MRS KHAMPEP...",SISI KHAMPEPE
10,NGOEPE,"['JUDGE NGOEPE', 'MR NGOEPE', 'ADV ARENDSEJUDG...",BERNARD MAKGABO NGOEPE
12,MPSHE,"['MR MPSHE', 'ADV MPSHE', 'BMR MPSHE', 'ONDERV...",MOKOTEDI MPSHE
...,...,...,...
419,RATEMANE,"['DR RATEMANE', 'PROF RATEMANE', 'SOLLY RATEMA...",SOLLY RATEMANE
421,NICHOLSON,"['EMMA NICHOLSON', 'MRS NICHOLSON', 'MS NICHOL...",EMMA NICHOLSON
422,MUFAMADI,"['MINISTER MUFAMADI', 'MR MUFAMADI', 'SIDNEY M...",SIDNEY MUFAMADI
424,MADIKIZELAMANDELA,"['MRS MADIKIZELAMANDELA', 'MS MADIKIZELAMANDEL...",WINNIE MADIKIZELA-MANDELA
425,FRIDIE,"['MRS FRIDIE', 'MS FRIDIE', 'SHARIFA FRIDIE']",SHARIFA FRIDIE

In [21]:
variants = df.Variants.tolist()
resolvers = df["Unnamed: 2"].tolist()
lastnames = df.LastName.tolist()
vr_dict = {}
for v, r, l in zip(variants, resolvers, lastnames):
    v = ast.literal_eval(v)
    vr_dict[l] = {"variants": v, "resolver": r}

In [23]:
with open ('../data/fp_speakers.txt', 'r') as f:
    fps = f.read().splitlines()
def clean_speaker(speaker):
    speaker = speaker.upper()
    if ' BY ' in speaker:
        speaker = speaker.split(" BY ")[1].strip()
    speaker = speaker.replace("WITNESS EXCUSED", "")
    speaker = speaker.replace("EXCUSED", '')
    speaker = speaker.replace(' HANDED IN AS EXHIBIT F', '')
    speaker = speaker.replace('FURTHER CROSS-EXAMINATION', '')
    speaker = speaker.replace('EXAMINATION BY', '')
    speaker = speaker.replace("ADDRESSES", "")
    speaker = speaker.replace("OBJECTS", "")
    speaker = speaker.replace("PLAYS THE SECOND VIDEO", "")
    speaker = speaker.replace("PLAYS THE VIDEO", "")
    speaker = speaker.replace("IN ARGUMENT", "")
    speaker = speaker.replace('EXAMINATION', '')
    speaker = speaker.replace('MISS ', 'MS ')
    speaker = speaker.replace("RE-EXAMINATIONBY ", '')
    speaker = speaker.replace('REVEREND', 'REV')
    speaker = speaker.replace('REVD', 'REV')
    speaker = speaker.replace("DOCTOR", 'DR')
    speaker = speaker.replace('ADVOCATE', 'ADV')
    speaker = speaker.replace("COLONEL", 'COL')
    speaker = speaker.replace('GENERAL', 'GEN')
    speaker = speaker.replace('MAJ-GENERAL', 'MAJ GEN')
    speaker = speaker.replace('MAJOR', 'MAJ')
    speaker = speaker.replace('PROFESSOR', 'PROF')
    speaker = speaker.replace("PROFF ", 'PROF ')
    while '  ' in speaker:
        speaker = speaker.replace('  ', ' ')
    speaker = speaker.strip()
    
    if speaker in fps:
        speaker = '<UNKNOWN>'
    if 'UNKNOWN' in speaker:
        speaker = '<UNKNOWN>'
    if len(speaker) < 2:
        speaker = "<UNKNOWN>"
    if speaker == "":
        speaker = "<UNKNOWN>"
    for lastname in vr_dict:
        if lastname in speaker:
            for v in vr_dict[lastname]['variants']:
                if speaker == v:
                    # print (f"Original Speaker: {speaker}")
                    speaker = vr_dict[lastname]['resolver']
                    # print (f"New Speaker: {speaker}")
    return speaker
all_speakers = []    
for i, filename in enumerate(files):
    new_filename = filename.replace("data_saha_original", "data_saha")
    with open(filename, 'r') as f:
        data = json.load(f)
    for x, speaker in enumerate(data['header']['speakers']):
        speaker = clean_speaker(speaker)
        data['header']['speakers'][x] = speaker
    for x, section in enumerate(data['testimony']):
        speaker =  section[0]
        try:
            new = clean_speaker(speaker)
        except:
            AttributeError
            new = "UNKNOWN"
        data['testimony'][x][0] = new
        if new not in all_speakers:
            all_speakers.append(new)
    with open (new_filename, 'w') as f:
        json.dump(data, f, indent=4)
all_speakers.sort()
print (len(all_speakers))

5234

In [24]:
with open ('../data/all_speakers.txt', 'w') as f:
    f.write('\n'.join(all_speakers))

In [25]:
with open ('../data/all_speakers.json', 'w') as f:
    json.dump(all_speakers, f, indent=4)