In [33]:
from top2vec import Top2Vec
import umap
import pandas as pd

In [13]:
model = Top2Vec.load("../data/top2vec-model")

In [26]:
doc_vecs = model.document_vectors

In [27]:
docs_reduced = umap.UMAP(n_components=2, 
                         n_neighbors=15, 
                         metric="cosine", 
                         min_dist=.10, 
                         random_state=42, 
                         verbose=True).fit_transform(doc_vecs)

UMAP(angular_rp_forest=True, metric='cosine', random_state=42, verbose=True)
Tue Sep 13 15:41:04 2022 Construct fuzzy simplicial set
Tue Sep 13 15:41:04 2022 Finding Nearest Neighbors
Tue Sep 13 15:41:04 2022 Building RP forest with 12 trees
Tue Sep 13 15:41:04 2022 NN descent for 14 iterations
	 1  /  14
	 2  /  14
	 3  /  14
	 4  /  14
	 5  /  14
	 6  /  14
	 7  /  14
	Stopping threshold met -- exiting after 7 iterations
Tue Sep 13 15:41:16 2022 Finished Nearest Neighbor Search
Tue Sep 13 15:41:18 2022 Construct embedding

Epochs completed:   0%|            0/200 [00:00]

Tue Sep 13 15:41:31 2022 Finished embedding

In [28]:
x, y = docs_reduced[:,0], docs_reduced[:,1]

In [31]:
docs_reduced[0]

array([11.140438 ,  5.0996666], dtype=float32)

In [40]:
df = pd.read_json("../data/vol7.json")
df['x'] = x
df['y'] = y
df

,names,descriptions,x,y
0,"AARON, Thabo Simon",An ANCYL member who was shot and severely inju...,11.140438,5.099667
1,"ABBOTT, Montaigne",A member of the SADF who was severely injured ...,-1.444161,6.536125
2,"ABDUL WAHAB, Zakier",A member of QIBLA who disappeared in September...,11.950356,3.509796
3,"ABRAHAM, Nzaliseko Christopher",A COSAS supporter who was kicked and beaten wi...,12.909900,3.337954
4,"ABRAHAMS, Achmat Fardiel",Was shot and blinded in one eye by members of ...,9.453081,4.147158
...,...,...,...,...
21742,"ZWENI, Ernest",One of two South African Police (SAP) members ...,10.969004,7.317764
21743,"ZWENI, Lebuti",An ANC supporter who was shot dead by a named ...,12.706614,3.257304
21744,"ZWENI, Louis","Was shot dead in Tokoza, Transvaal, on 22 May ...",8.457070,1.689013
21745,"ZWENI, Mpantesa William",His home was lost in an arson attack by Witdoe...,0.931539,2.989026
21746,"ZWENI, Xolile Milton",A Transkei Defence Force (TDF) soldier who was...,15.264451,9.677507

In [59]:
topic_words, word_scores, topic_nums = model.get_topics()

In [63]:
topic_sizes, topic_nums = model.get_topic_sizes()

In [64]:
topic_sizes

array([646, 327, 297, 261, 235, 234, 230, 225, 217, 205, 195, 192, 192,
       187, 187, 184, 171, 162, 154, 150, 146, 146, 145, 135, 133, 132,
       131, 130, 127, 126, 124, 122, 122, 120, 119, 119, 119, 119, 119,
       117, 117, 116, 116, 114, 114, 113, 112, 112, 112, 111, 111, 111,
       111, 110, 108, 107, 107, 106, 105, 102, 101, 100, 100,  98,  97,
        97,  97,  95,  95,  94,  94,  94,  93,  92,  91,  91,  91,  91,
        87,  87,  87,  85,  85,  85,  83,  82,  82,  82,  82,  81,  81,
        81,  81,  80,  80,  80,  79,  79,  79,  79,  78,  78,  78,  78,
        78,  78,  78,  78,  78,  77,  77,  77,  77,  76,  76,  75,  75,
        74,  74,  74,  74,  73,  73,  72,  72,  72,  72,  72,  72,  71,
        70,  70,  69,  69,  69,  68,  68,  68,  67,  66,  66,  66,  66,
        66,  66,  65,  65,  64,  64,  63,  63,  63,  62,  62,  62,  62,
        61,  61,  61,  61,  60,  60,  58,  58,  58,  57,  57,  57,  57,
        56,  56,  56,  56,  56,  56,  56,  56,  55,  55,  55,  54,  54,
        53,  53,  53,  53,  53,  53,  53,  53,  53,  53,  52,  52,  52,
        52,  52,  51,  51,  51,  50,  50,  50,  50,  49,  49,  49,  49,
        48,  47,  47,  46,  45,  45,  45,  44,  44,  44,  44,  43,  42,
        42,  42,  41,  41,  41,  41,  39,  39,  39,  38,  38,  38,  37,
        37,  36,  36,  36,  35,  35,  34,  33,  32,  31,  31,  30,  29,
        29,  29,  28,  28,  28,  27,  26,  26,  25,  25,  24,  24,  24,
        23,  22,  21,  20,  19,  19,  18], dtype=int64)

In [68]:
all_docs = {}
for topic_num, num_docs in zip(topic_nums, topic_sizes):
    documents, document_scores, document_ids = model.search_documents_by_topic(topic_num=topic_num, num_docs=num_docs)
    for document in document_ids:
        
        all_docs[document] = topic_num

In [72]:
final_topics = []
for i in range(len(all_docs)):
    final_topics.append(all_docs[i])

In [71]:
len(all_docs)

21747

In [73]:
final_topics[:10]

[4, 137, 151, 199, 55, 102, 220, 14, 13, 19]